<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/images/logo.jpeg}" rel="preload" as="image"/>
    <link th:href="@{/styles/design.css}" rel="preload" as="style">
    <title>Taco Cloud</title>
</head>
<body>
<h1>Design your taco!</h1>
<img th:src="@{/images/logo.jpeg}" alt="taco"/>
<form method="post" th:object="${taco}">
    <div class="ingredient_categories">
        <div th:each="category : ${ingredientCategories}">
            <div class="ingredient_categories__category">
                <h3 class="ingredient_categories__category__title" th:text="${category.title}">
                    Design your type:</h3>
                <div th:each="ingredient : ${category.ingredients}" class="ingredient_categories__category__item">
                    <input name="ingredients" type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}">
                    <span th:text="${ingredient.name}">INGREDIENT</span>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3> Name tour taco creation:</h3>
        <input type="text" th:field="*{name}">
        <button type="submit">Submit Your Taco</button>
    </div>
</form>
</body>
</html>